# Project place file
/Rojo.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
sourcemap.json

# Editor configurations 
.vscode
settings.json
aftman.toml
default.project.json
sourcemap.project.json

# Ignore meta files
*.meta.json

# RotD Base Local Library
*./
!src

# Update
# git pull --allow-unrelated-histories --tags origin main
# git reset
# git pull --no-commit --allow-unrelated-histories -s subtree engine public